.machinesimg
{
    width: auto;
    height:60vh;

}
.machines td

{
    padding-right: 5vw;
    font-size: 1.5vw;
}
.machines
{

}
.main th ,.main h4,.main h3
{
    text-align: center;
    font-weight:bold;
}