.updat
{
    margin-top: 10vh;
    padding: 0 4vw 10vh 4vw;
    color: #a0a0a0;

}
.by1_grid
{
    display: grid;
    grid-template-columns: auto auto auto ;
    grid-column-gap: 3vw;
    grid-row-gap : 5vh;

}
.by1_grid img
{
    width:25vw;
    height:17vw;
    padding: 0 0 0 0 ;
    margin: 0 0 0 0;

}



.by1_grid div div
{
    padding : 0.4vh  1vw 0.4vh 0;
    margin: 0 0  0 0;
    font-size: 1.3vw;
    text-align: justify;
    text-justify: inter-word;
    width:25vw;
}

.by1_grid h4{
    font-size: 1.7vw;
    color:black;
}

 .sliders
 {
     padding: 0 0 0 0;
     margin: 0 0 0 0;
 }

 .by1_grid div
 {
       transition: ease 0.2s;
 }

 .by1_grid div:hover
 {
     //color: #ae08fe
     transition: ease 0.2s;
 }


