{% extends 'layout_logged_in.html' %}
{% load static %}
{% block content %}
<style>
    .main
    {
        padding:5vh 5vw 5vh 5vw;
    }

</style>
    
        
        
     
     <body>




     <link rel="stylesheet" href="{% static 'CSS/faci2.css' %}">





     <div id ="top"  class="main">

	 <div id ="ElectronicsFacilities"><br><br>
             <h3>Electronics facilities</h3>
             <br>
             <ul>
                 <li>Soldering Stations</li>
                 <li>SMD’s</li>
                 <li>Arduino</li>
                 <li>Raspberry Pi 3</li>
                 <li>Beaglebone</li>
                 <li>Active and Passive Components</li>
                 <li>Multimeters</li>
                 <li>Digital Storage Oscilliscope</li>
                 <li>DC Power supplies</li>
                 <li>Various development boards-PIC, AVR, Atmel, sensors and kits</li>
             </ul>
         </div>

     </div>

     </body>
{% endblock %}

 