{% extends 'layout_logged_in.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href=" {% static '/CSS/faq.css'%}">
<div class="faq_class"><br>
    <details>
        <summary>What are the timings for the lab?</summary>
        The Lab timings are from 11 am – 7 pm from Monday to Friday. Currently, the lab is operational for 5 days a week.
    </details>
    <br>
    <details> 
              <summary>What procedure do I need to follow to access the Lab’s Facilities? </summary> 
               Students’ have to first register on the Tinkering Lab portal, then they have to do a login for filing a request which requires the information of the project.
      </details>
    <br>
     <details> 
              <summary>Can I use the lab for personal use? </summary>
                If your personal use is a personal project you are most welcome. Tinkering Lab doesn’t appreciate any kind of misuse of the Lab facilities and its facilities to cater personnel needs.
      </details>
    <br>
     <details> 
              <summary>What are the facilities present at the Lab? </summary> 
               The Tinkering Lab is equipped with numerous technologies including 3D printing, laser etching, carving and with number of workstations.
      </details>
    <br>
     <details> 
              <summary> I don’t know how to use the machines so who will help me to use them?</summary> 
                  The lab officials and students’ body is meant to guide the students in their projects. They are always available for the help. Also, over a period of time, you will develop the skills of using these machines.
      </details>    <br>
                                
    <details>
        <summary>Who can all access the lab? </summary>
        The lab is present cater to the  need of students and professors of IIT Roorkee. Any member of IIT Roorkee can access the lab for the projects.

    </details>    <br>
                                
    <details>
        <summary>Are there any prerequisites for working in the lab? </summary>
          No, there are no such prerequisites for working in the lab but we appreciate if you come in formals to keep yourself safe from any kind of mishappening in the lab.
    </details>    <br>
                
                                

                               

                                
    <details>
        <summary>   Whom can I contact for further queries?</summary>
                 Tinkering Lab is always present at your service. For further queries, feel free to drop an email at rethink.tinkering@gmail.com .
    </details>
                
                                

                                

                             

                                

                                

                                

                              

                              

                               

</div>

{% endblock %}
