{% extends 'layout_logged_in.html' %}
{% load static %}
{% block content %}
<style>
    .main
    {
        padding:5vh 5vw 5vh 5vw;
    }

</style>
    
         
         
     
     <body>




     <link rel="stylesheet" href="{% static 'CSS/faci2.css' %}">





     <div id ="top"  class="main">

	
        <!-- 3D Printer Start-->
         <div id = "3DPrinter" >

                 <div class = "row"><div class = "col">    <h4>BoXZY</h4></div></div>
                 <div class = "row">
                     <div class = "col-sm-4">
                         <img class="machinesimg" src="{% static 'CSS/gallery/jpg/machines/boxzy.jpg' %}">
                     </div>
                     <div class = "col-sm-8">
                         <table class="table table-hover  table-bordered">
                                                        
                                                             
                                                            
                                                            
                                                            

                                                             

                                                             





                                                                <tr>
                                                                    <th colspan="2">   Laser engraving</th>
                                                                </tr>

                                                             <tr>
                                                                 <td>Spectrum</td>
                                                                 <td>445 nm</td>
                                                             </tr>
							     <tr>
                                                                 <td>Build Volume</td>
                                                                 <td>165x165x165 mm</td>
                                                             </tr>
                                                             <tr>
                                                                 <td>Laser head travel feed</td>
                                                                 <td>30 to 300 mm/s</td>
                                                             </tr>
                                                             <tr>
                                                                 <td>Material</td>
                                                                 <td>Hardwoods, Opaque Plastic, Anodized Aluminium</td>
                                                             </tr>
                                                         </table>
                     </div>
                 </div>
             

         </div>

     </div>

     </body>
{% endblock %}

 