{% extends 'layout_logged_in.html' %}
{% load static %}
{% block content %}
<style>
    .main
    {
        padding:5vh 5vw 5vh 5vw;
    }

</style>
    
         
         
     
     <body>




     <link rel="stylesheet" href="{% static 'CSS/faci2.css' %}">





     <div id ="top"  class="main">

	
        <!-- 3D Printer Start-->
         <div id = "3DPrinter" >

                 <div class = "row"><div class = "col">    <h4>BoXZY</h4></div></div>
                 <div class = "row">
                     <div class = "col-sm-4">
                         <img class="machinesimg" src="{% static 'CSS/gallery/jpg/machines/boxzy.jpg' %}">
                     </div>
                     <div class = "col-sm-8">
                         <table class="table table-hover  table-bordered">
                                                         <tr>
                                                             <th colspan="2"> 3D printing</th>
                                                         </tr>

                                                             <tr>
                                                                 <td>Layer resolution</td>
                                                                 <td>20 microns</td>
                                                             </tr>
                                                             <tr>
                                                                 <td>Print technology</td>
                                                                 <td>Fused Deposition Modelling (FDM)</td>
                                                             </tr>
                                                             <tr>
                                                                 <td>Build Volume</td>
                                                                 <td>165x165x165 mm</td>
                                                             </tr>
                                                             <tr>
                                                                 <td>Print head travel feed</td>
                                                                 <td>30 to 300 mm/s</td>
                                                             </tr>
                                                             <tr>
                                                                 <td>Nozzle diameter</td>
                                                                 <td>0.4 mm</td>
                                                             </tr>
                                                             <tr>
                                                                 <td>Nozzle temperature</td>
                                                                 <td>180°C to 260°C</td>
                                                             </tr>
                                                             <tr>
                                                                 <td>Filament diameter</td>
                                                                 <td>1.75 mm</td>
                                                             </tr>
                                                             <tr>
                                                                 <td>Supported materials</td>
                                                                 <td>PLA, ABS, Ninja</td>
                                                             </tr>

                                                             <tr>
                                                                 <th colspan="2">Milling</th>
                                                             </tr>

                                                             <tr>
                                                                 <td>Material</td>
                                                                 <td>ABS, Acetal, Brass, Bronze Silver, PVC</td>
                                                             </tr>





                                                                <tr>
                                                                    <th colspan="2">   Laser engraving</th>
                                                                </tr>

                                                             <tr>
                                                                 <td>Spectrum</td>
                                                                 <td>445 nm</td>
                                                             </tr>
                                                             <tr>
                                                                 <td>Material</td>
                                                                 <td>Hardwoods, Opaque Plastic, Anodized Aluminium</td>
                                                             </tr>
                                                         </table>
                     </div>
                 </div>
             

         </div>

     </div>

     </body>
{% endblock %}

 