{% extends 'layout_logged_in.html' %}
{% load static %}
{% block content %}
<style>
    .main
    {
        padding:10vh 10vw 10vh 10vw;
    }
    
    .power , .chemicals
    {
    
    width: 100%;
    height: 34vh;
    padding: 10px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 20px;

    }
    
    
    div.contain {
    width: 20%;
    padding: 2%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
    }
    

</style>
<body>
    <div id ="top"  class="main">
        <center>
            <h3>Power Tools</h3>
        </center>
        <div class="power">
            <div id="contain">
                <p>
                <img src="{% static 'CSS/gallery/tools/power1.jpg' %}" style="width:20%" align="left">
                The Black & Decker Cordless Drill BDCD12 is a 10.8V drill driver which can be used for a variety of applications. This Cordless drill can be used for drilling into wood, metal and plastic. This drill features a variable speed motor with reverse functionality. It can also be used for screw-driving purposes.</p>
            </div>

        </div>
        
        <div class="power">
            <div id="contain">
                    <p>
                <img src="{% static 'CSS/gallery/tools/power5.jpg' %}" style="width:20%" align="left">
                
                        The VersaFlame comes with a 9-piece kit that gives you the power to tackle an array of applications. By simply switching tips, you can use our butane micro torch for wood burning, leather crafting, stencil cutting, soldering, or hot-knife cutting of foam, plastics and rope. 
                </p>
            </div>

        </div>

        <div class="power">
            <div id="contain">
                    <p>
                <img src="{% static 'CSS/gallery/tools/power6.jpg' %}" style="width:20%" align="left">
                GTS 10 J Professional - Tool-less height adjustable riving knife for slot cutting - Ergonomic wheel and knob for convenient bevel and depth adjustment - Electronics incl. soft start and overload protection for improved convenience and motor protection - Integrated table extension up to 455 mm cutting capacity</p>
                
            </div>

        </div>

        <div class="power">
            <div id="contain">
                    <p>
                <img src="{% static 'CSS/gallery/tools/power7.png' %}" style="width:20%" align="left">
                The 1250DEVS features two distinct sanding modes, Mode selector lever allows quick change between random orbit mode and aggressive turbo mode ,Powerful 6.5 Amp dual-mode, multipurpose sander</p>
                
            </div>

        </div>

        <div class="power">
                <div id="contain">
                        <p>
                    <img src="{% static 'CSS/gallery/tools/power7.jpg' %}" style="width:20%" align="left">
                    It's a drill press, tool holder and flex shaft holder all in one. Drill accurate perpendicular and angled holes. Holds your tool in place for applications like sanding and buffing, and the telescoping flex shaft holder extends to any height between 16 and 29 inches.</p>
                </div>
    
        </div>

        <div class="power">
                <div id="contain">
                        <p>
                    <img src="{% static 'CSS/gallery/tools/power8.png' %}" style="width:20%" align="left">
                    The Dremel 3000 has Variable speed from 10,000 to 33,000 RPM and Can be used with all Dremel accessories and most attachments. It houses Cool-running ball bearing construction for smooth and quiet operation and Replaceable motor brushes extend tool life</p>
                </div>
    
        </div>

        <div class="power">
                <div id="contain">
                        <p>
                    <img src="{% static 'CSS/gallery/tools/power9.png' %}" style="width:20%" align="left">
                    Used for grinding, brushing, satin-finishing as well as cleaning of steel, non-ferrous metal and especially stainless steel. Continuously variable electronic speed control for constant speed even at high grinding pressure. Set includes lithium-ion battery Li/A (10.8V) and rapid battery charger LG/A. With satin-finishing cylinder "medium" and one each grinding mop cylinder 120 grit and 240 grit.</p>
                </div>
        </div>

        <div class="power">
                <div id="contain">
                        <p>
                    <img src="{% static 'CSS/gallery/tools/power8.jpg' %}" style="width:20%" align="left">
                    The 550w motor blows out high volume air that helps you clean all dust and dirt effectively .High-quality electric air blower cleaner. The cheston blower 550w is the device to help clean dust from your computer, electrical gadgets.</p>
                </div>
        </div>
        <div class="power">
                <div id="contain">
                        <p>
                    <img src="{% static 'CSS/gallery/tools/power10.png' %}" style="width:20%" align="left">

                    The heat gun with the greatest ease of use. Two main applications can be stored permanently, so that airflow and temperature are at the correct setting instantly. Heating automatically switches off and cools when overheating, for long lifetime. </p>
                </div>
        </div>



        <div id="chemicals">

        </div>






    </div>



</body>


{% endblock %}