 {% extends 'layout_logged_in.html' %}
{% load static %}
{% block content %}

    <style>
    .main{
        padding: 10vh  5vw 5vw 10vh;
        font-size: 1.2em;

    }
    .main div
    {
        background-color: ghostwhite;
        padding: 3vh 3vw 3vh 3vw;
    }
    .main div img
    {
        width:8vw;
        border-radius: 50%;
    }

    q
    {
        font-size: 1.5em;
    }
    .note_cont
    {
         text-align: justify;
    text-justify: inter-word;
    }

    </style>
    <div class="main">


        <div>
            <div class="row">

                <div class="col-md-9 note_cont" >  <q>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent dignissim leo in elit blandit faucibus. Nunc accumsan tincidunt efficitur. Suspendisse sed eros non metus facilisis tristique sed eu ligula. In hac habitasse platea dictumst. Fusce ullamcorper blandit nunc, vehicula iaculis eros molestie ut. Aliquam erat volutpat. Nam porta feugiat erat eget mollis. Aenean eu metus vel ipsum euismod blandit vel nec justo. Nam porta finibus mi sit amet gravida. Nunc vehicula tellus eget ante vestibulum eleifend nec sit amet tellus. Donec condimentum tellus et augue commodo elementum. Vivamus mauris velit, imperdiet vitae ligula et, aliquet scelerisque turpis. Sed suscipit mi a ante hendrerit, sed pulvinar dolor imperdiet. Nullam et laoreet augue. Fusce tristique ante nibh, in sollicitudin libero efficitur dapibus.</q></div>

                <div class = "col-md-3"> <center>  <img  src=" {% static 'CSS\gallery\contact\directors.jpg'%} "alt=" Dr. A K Chaturvedi "><br>Dr. A K Chaturvedi<br>Director<br>IIT Roorkee</center></div>
            </div>
        </div>
        <br><br>
      <div>
            <div class="row">
                 <div class = "col-md-2"> <center>  <img  src="http://people.iitr.ernet.in/facultyphoto/mprdafce_sauk8lV.jpg" alt="M. Parida "><br>Dr. M. Parida<br>  Dean SRIC</center></div>
                <div class="col-md-10 note_cont">  <q>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent dignissim leo in elit blandit faucibus. Nunc accumsan tincidunt efficitur. Suspendisse sed eros non metus facilisis tristique sed eu ligula. In hac habitasse platea dictumst. Fusce ullamcorper blandit nunc, vehicula iaculis eros molestie ut. Aliquam erat volutpat. Nam porta feugiat erat eget mollis. Aenean eu metus vel ipsum euismod blandit vel nec justo. Nam porta finibus mi sit amet gravida. Nunc vehicula tellus eget ante vestibulum eleifend nec sit amet tellus. Donec condimentum tellus et augue commodo elementum. Vivamus mauris velit, imperdiet vitae ligula et, aliquet scelerisque turpis. Sed suscipit mi a ante hendrerit, sed pulvinar dolor imperdiet. Nullam et laoreet augue. Fusce tristique ante nibh, in sollicitudin libero efficitur dapibus.</q></div>


            </div>
        </div>
     <br><br>
      <div>
            <div class="row">

                <div class="col-md-9 note_cont">  <q>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent dignissim leo in elit blandit faucibus. Nunc accumsan tincidunt efficitur. Suspendisse sed eros non metus facilisis tristique sed eu ligula. In hac habitasse platea dictumst. Fusce ullamcorper blandit nunc, vehicula iaculis eros molestie ut. Aliquam erat volutpat. Nam porta feugiat erat eget mollis. Aenean eu metus vel ipsum euismod blandit vel nec justo. Nam porta finibus mi sit amet gravida. Nunc vehicula tellus eget ante vestibulum eleifend nec sit amet tellus. Donec condimentum tellus et augue commodo elementum. Vivamus mauris velit, imperdiet vitae ligula et, aliquet scelerisque turpis. Sed suscipit mi a ante hendrerit, sed pulvinar dolor imperdiet. Nullam et laoreet augue. Fusce tristique ante nibh, in sollicitudin libero efficitur dapibus.</q></div>

                <div class = "col-md-3"> <center>   <img  src="{% static 'CSS\gallery\contact\proff.jpg'%}" alt="Inderdeep Singh "><br>Dr. Inderdeep Singh  <br>Lab Coordinator</center></div>
            </div>
        </div>
 <br><br>
      <div>
            <div class="row">
                <div class = "col-md-2"> <center><img  src="{% static 'CSS\gallery\contact\anant.jpg'%}" alt="Anant">           <br>Anant Vashistha<br>Secretary </center></div>
                <div class="col-md-10 note_cont"><q>  Tinkering Lab is an innovation hub which gives birth to ideas and where the dreams come true. It’s a place where one can come up with a problem definition and can get a perfect solution. Tinkering lab provides a platform to students to do something great and inculcates ingenious spirit among them. It promotes innovation, experimentation, imagination and a lot more. If you are full of enthusiasm, have a creative mindset, want to do unimaginable things, Tinkering lab is the place for you.</q></div>


            </div>
        </div>
<br><br>
        <div>
            <div class="row">
                 <div class="col-md-9 note_cont"><q>Mandi Cell building of IITR is home to a wonderful facility, The Tinkering Lab, that provides you with a large variety of high-quality tools and machines with which you can shape your designs into prototypes. Doesn't matter you have used those tools before or not lab staff will teach you the basics. Getting your own hands dirty is not only fun but also improves one's imagination and inspires him to design better products. My experience in tinkering lab have been really good till now, with a large list of tools in my arsenal; it feels really confident while I'm working on my next idea.</q></div>
                <div class = "col-md-3"> <center><img  src="{% static 'CSS\gallery\contact\ankitalok.jpg'%}" alt="Ankit"><br>Ankit Alok Bagaria<br>General Secretary <br>Technical Affairs </center></div>



            </div>
        </div>

<br><br>
      <div>
            <div class="row">
                <div class = "col-md-3"> <center>  <img  src="{% static 'CSS\gallery\contact\Pulkit.jpg'%}"  alt="Pulkit"><br>Pulkit Goyal <br>  Former Secretary<br> (2017 - 18) </center></div>
                <div class="col-md-9 note_cont">  <q>Tinkering Lab opened when I was a junior in the campus. Since then, it has been the place I have spent most of my next two years. The beauty of the lab is that it has minimal restrictions and freely offers a number of modern technologies that remain unavailable to students at other places inside and outside the campus. If you have a passion for technology and innovation, art and creativity, or you just want to make something....anything, the lab is going to be your abode.</q></div>


            </div>
        </div>
<br><br>





    </div>



 {% endblock  %}