{% extends 'layout_logged_in.html' %}
{% load static %}
{% block content %}

<article>
    <link rel="stylesheet" href=" {% static '/CSS/update.css'%}">
    <div class="updat">



                <h1 style = "color:#ae08fe;">Achievements</h1><br>
        <div class="by1_grid">
            <div>
              <h4>Avea</h4>
                   <img src="{% static 'CSS/gallery/update/avea.png' %}"/>
                <div>Home Automation (hardware end product development provided by Tinkering Lab; a startup incubated at TIDES) </div>


            </div>


            <div>
              <h4>International Robotics Challenge </h4>
                   <img src="{% static 'CSS/gallery/update/asme.jpg' %}"/>
                <div>ASME IITR participated and won the International Robotics Challenge hosted by IIT Bombay in their Tech Fest 2017. They also held 2<sup>nd</sup> position at the National Level and 3<sup>rd</sup> at International Level along with cash prize of 64,000INR. </div>


            </div>

            <div>
              <h4>Formula Green Competition 2017</h4>
                   <img src="{% static 'CSS/gallery/update/motorsport.png' %}"/>
                <div>IIT Roorkee Motorsports designed and manufactured a formula electric car and participated in Formula Green Competition, 2017 organized by ISNEE</div>


            </div>

            <div>
              <h4>Inter-IIT Tech meet 2017</h4>
                   <img src="{% static 'CSS/gallery/update/inter.png' %}"/>
                <div> Team of IIT Roorkee student presented Personal Assistance for Walking in Inter-IIT Tech Meet 2017 in product exhibition event. </div>


            </div>











        </div>


<br>
        <h1 style = "color:#ae08fe;">Events </h1><br>
    <br>
        <div class="by1_grid">

            <div>
                       <h4>Smart India Hackathon 2018 </h4>
                  <div class="carousel slide sliders " data-ride="carousel">

                            <div class="carousel-inner">
                                <div class="carousel-item  ">
                                  <img src="{% static 'CSS/gallery/sih/1.JPG' %}">
                                </div>


                                <div class="carousel-item  ">
                                  <img src="{% static 'CSS/gallery/sih/2.JPG' %}">
                                </div>


                                <div class="carousel-item  ">
                                  <img src="{% static 'CSS/gallery/sih/3.JPG' %}">
                                </div>


                                <div class="carousel-item  ">
                                  <img src="{% static 'CSS/gallery/sih/4.JPG' %}">
                                </div>


                                <div class="carousel-item  ">
                                  <img src="{% static 'CSS/gallery/sih/5.JPG' %}">
                                </div>


                                <div class="carousel-item ">
                                  <img src="{% static 'CSS/gallery/sih/6.JPG' %}">
                                </div>


                                <div class="carousel-item  active">
                                  <img src="{% static 'CSS/gallery/sih/7.JPG' %}">
                                </div>


                                <div class="carousel-item  ">
                                  <img src="{% static 'CSS/gallery/sih/8.JPG' %}">
                                </div>

                                 <div class="carousel-item  ">
                                  <img src="{% static 'CSS/gallery/sih/9.JPG' %}">
                                </div>

                                 <div class="carousel-item  ">
                                  <img src="{% static 'CSS/gallery/sih/10.JPG' %}">
                                </div>


                          </div>

                    </div>
                <div> Tinkering Lab, IIT Roorkee organised a grand finale of Smart India Hackathon 2018 from June 18 to June 22 on the theme “Clean Water”. Seven  teams from all over India along with the industry experts participated in this grand finale hackathon.   </div>


            </div>


            <div>
              <h4>Srishti 2018</h4>
                   <div class="carousel slide sliders " data-ride="carousel">

                            <div class="carousel-inner">

                                <div class="carousel-item  ">
                                      <img src="{% static 'CSS/gallery/update/Shristi/1.JPG' %}">
                                </div>



                                <div class="carousel-item active  ">
                                      <img src="{% static 'CSS/gallery/update/Shristi/3.JPG' %}">
                                </div>

                                <div class="carousel-item   ">
                                      <img src="{% static 'CSS/gallery/update/Shristi/4.JPG' %}">
                                </div>


                            </div>
                   </div>
                <div>Tinkering lab worked on the theme “Technovating Tomorrow” in which the lab exhibited various self-designed products in the Srishti 2018. The lab showcased the technologies available, the concepts of 3D printing, laser etching, carving and many more. Live demo of 3D printing was outshined in the exhibition. </div>


            </div>

            <div>
                <h4>Pushpavali</h4>


                <img src="{% static 'CSS/gallery/update/Pushpavali.png' %}"/>
                <div>Tinkering lab was presented as an innovation centre of the Indian Institute of Technology Roorkee in front of the governor of Uttarakhand Shri Krishna Kant Paul. The lab capabilities were an attraction for the visitors and the outsiders. An exposure to the newest technologies and the machines was the main idea carried by the lab staff.</div>

            </div>
            <div>
                <h4>Memento design competition</h4>
                       <div class="carousel slide sliders " data-ride="carousel">
                        <div class="carousel-inner">
                                   <div class="carousel-item ">
                                       <img src=" {% static 'CSS/gallery/update/memento/1.jpg' %}">

                                   </div>
                             <div class="carousel-item  ">
                                       <img src=" {% static 'CSS/gallery/update/memento/2.jpg' %}">

                                   </div>
                             <div class="carousel-item  ">
                                       <img src=" {% static 'CSS/gallery/update/memento/3.png' %}">

                                  </div>
                              <div class="carousel-item  ">
                                       <img src=" {% static 'CSS/gallery/update/memento/5.png' %}">

                                   </div>
                              <div class="carousel-item active  ">
                                       <img src=" {% static 'CSS/gallery/update/memento/6.png' %}">

                                   </div>
                        </div>
                  </div>

                <div>This competition was organised to provide a platform and to identify the hidden talents of the youths. 23 entries were received of which 10 designs were selected. Some of the students were also awarded a cash prize and the certificate.</div>


            </div>

            <div>
              <h4>School Students' Visit</h4>
                   <img src="{% static 'CSS/gallery/update/visit.png' %}"/>
                <div>Cantonment school student visited the Lab to get an idea of the working and functioning of the Tinkering Lab. They planned to implement the same concepts in their lab established under the Atal Tinkering Lab mission. </div>


            </div>


            <div>
              <h4>TEQIP Members' Visit</h4>
                    <img src="{% static 'CSS/gallery/update/teqip.jpg' %}"/>
                <div>The lab aims to provide an exposure of technical education to the TEQIP members which includes the 30 to 40 faculties from all over India. </div>


            </div>


          <!--  <div>
              <h4>Visit of NITI Aayog members</h4>
                   <img src="{% static 'CSS/gallery/update/Pushpavali.png' %}"/>
                <div> Mr. R.P. Watal, Principal advisor NITI Aayog and Mr. B N Satpathy, Senior Consultant NITI Aayog visited the Tinkering Laboratory to get acquainted with the technologies and facilities available. </div>


            </div>
            -->

            <div>
              <h4>Training and Workshop</h4>
                   <img src="{% static 'CSS/gallery/update/train.jpg' %}"/>
                <div>5 day workshop on “Computer based Product design and Manufacturing” This workshop was conducted in collaboration with EICT academy in the 	month of December 2017 and February 2018.</div>


            </div>


        </div>
        <br>

</article>
{%endblock%}