
{% extends 'layout_logged_in.html' %}
{%load static %}
{% block content %}
<link rel="stylesheet" href=" {% static '/CSS/vision.css'%}">


<body>

<div class="vision">


        <center><q id="hindi">श्रमं विना न किमपि साध्यम्</q></center><br>

        <p>The legacy that Tinkering Labs proudly stands with, has been fostered by ages of persistent hard work. We adhere to the system of “​Shramam vina na kimapi sadhyam​”. We are the initiators, originators, creators and the developers. History testifies that we started a long back, are still going on and will keep on going until and unless we make the Tinkering Lab the place where its founders dreamt of seeing it. We are forever eager to tackle and dodge the various challenges that arise every now and then.</p>
        <br>
        <h4>Vision </h4>
        <p>Our vision is to make Tinkering Lab the fountainhead of most of the technological advancements. With a zeal to work on cutting-edge technologies, we aim to provide world-class services and the most jaw-dropping successful projects. We have all the different tools and things which can be used to motivate us towards our end goals. Self-motivation is a very strong weapon that we can use to get further in life to achieve our dreams and goals to make Tinkering Lab a source of pride for our nation. </p>
    <br>
        <h4>Mission </h4>
        <p>With the advent of Tinkering Lab, the Indian Institute of Technology Roorkee is poised to join the revolution that is aimed at converting young minds into thinkers and the innovators. The mission of Tinkering Lab is not only to strengthen the bond between industry experts and youth but to make an overall development of students, the institute, society, and the country. Tinkering Lab aims at creating an ambience which can foster research and innovation. Tinkering lab is a way to encourage a problem-solving attitude and to enkindle the brightest minds of this country.  </p>
        <p>In the context of education, the Tinkering Lab refers to space where the youngsters can experiment with, learn, develop and conceptualize different scientific ideas. It is a lot similar to DIY(Do-it-yourself) method where the students are encouraged to apply the knowledge that they have gained in the classroom. </p>


</div>
</body>

{% endblock %}